*{
  margin: 0;
  padding: 0;
}
html,body{
  height: 100%;
}
.container .content{
	display: flex;
	justify-content: center;
	margin-top: 50px;
}
.container .content img{
	width: 500px;
	height: 500px;
}
